TCALCULATEDCHARTSOURCE BITMAP "TCALCULATEDCHARTSOURCE.bmp"
TCHART BITMAP "TCHART.bmp"
TTACHART BITMAP "TCHART.bmp"
TCHARTAXISTRANSFORMATIONS BITMAP "TCHARTAXISTRANSFORMATIONS.bmp"
TCHARTCOMBOBOX BITMAP "TCHARTCOMBOBOX.bmp"
TCHARTEXTENTLINK BITMAP "TCHARTEXTENTLINK.bmp"
TCHARTIMAGELIST BITMAP "TCHARTIMAGELIST.bmp"
TCHARTLEGENDPANEL BITMAP "TCHARTLEGENDPANEL.bmp"
TCHARTLISTBOX BITMAP "TCHARTLISTBOX.bmp"
TCHARTNAVPANEL BITMAP "TCHARTNAVPANEL.bmp"
TCHARTNAVSCROLLBAR BITMAP "TCHARTNAVSCROLLBAR.bmp"
TCHARTSTYLES BITMAP "TCHARTSTYLES.bmp"
TCHARTTOOLSET BITMAP "TCHARTTOOLSET.bmp"
TDATETIMEINTERVALCHARTSOURCE BITMAP "TDATETIMEINTERVALCHARTSOURCE.bmp"
TDBCHARTSOURCE BITMAP "TDBCHARTSOURCE.bmp"
TINTERVALCHARTSOURCE BITMAP "TINTERVALCHARTSOURCE.bmp"
TLISTCHARTSOURCE BITMAP "TLISTCHARTSOURCE.bmp"
TRANDOMCHARTSOURCE BITMAP "TRANDOMCHARTSOURCE.bmp"
TUSERDEFINEDCHARTSOURCE BITMAP "TUSERDEFINEDCHARTSOURCE.bmp"

